.classMain{
	margin: 0px;
	width: 100%;
}
.classLoginMain{
	margin: 0px auto;
	width: 39%;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 10px;
	box-shadow: 3px 1px 5px;
}
.classContainerBotPad{
    padding-bottom: 5px;
}
.classBody{
	margin: 0px auto;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 10px;
	box-shadow: 3px 1px 5px;
}
.classMenuBar{
    border: 1px solid #ebebeb !important;
    box-shadow: 0px 0px 3px !important;
    margin-left: 15px;
    width: 97.5% !important;
    padding-left: 2px !important;
}
.classForm{
	margin: 30px 50px 10px 100px;
}
.className{
    /*padding: 10px;
    margin: 1px 0px 5px 30px;*/
    padding-top: 5px;
	margin-top: 5px;
}
.spanEle{
    display: inline-block;
    width: 83px;
    margin-top: 8px;
    vertical-align: top;
}
.classGlyUser{
    float: left;
    margin-top: 29px;
}
.classFBConnected{
    float: left;
    margin-left: 10px;
    margin-top: 20px;
}
.classFBImg{
    margin-left: 20px;
}
.classSocialConnectImg{
    width: 200px;
    height: 30px;
}
.classFB{
    margin-top: 35px;
}
.classFBImgSize{
    width: 80px;
    height: 80px;
}
.classEle6{
	margin: 30px;
}

h2, h4{
	color: #000000;
}

.classWelcome{
	margin: 0px;
	width: 100%;
	/*border: 1px solid #000;*/
	padding: 0px;
}
.classWheadFoot{
    margin: 1px 0px 0px 16px;
    height: 63px;
    border-bottom: 1px solid rgb(38, 154, 188);
    width: 97.5% !important;
    /*background-image: url("../images/Todo_logo.png") !important;*/
}
.classMenu{
	margin: -5px 5px 5px 5px;
	height: 30px;
	border: 1px solid rgb(221, 221, 221);
	border-radius: 3px;
	box-shadow: 3px 3px 4px #cccccc;
	background-color: #000000;
}
.classContent{
    width: 100%;
    border-top: 1px solid rgb(38, 154, 188);
    border-bottom: 1px solid rgb(38, 154, 188);
}
.classLoginForm{
    width: 37% !important;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
}
.classRegForm1{
    width: 50% !important;
    float: left;
    margin-left: 35%;
    margin-top: 5%;
}
.classLoginImage{
    width: 33.3333%;
    float: left;
    margin: 35px 0px 0px 120px;
}
.classMenuLst{
	display: inline-block;
	margin: 2px;
}
.classFooter{
    text-align: right;
}
.classFooterRow{
    margin: -15px;
}
.classMenuLst li{
	display: inline-block;
	margin-right: 15px;
}
.classRegForm{
    width: 40%;
    display: inline-table;
}
.classArea{
    padding: 5px 5px 5px 20px;
    margin: 2px 0px 1px ;
    border: 1px solid #ebebeb;
    box-shadow: 0px 0px 3px;
	/*border: 1px solid #000;*/
}
.classAreaAdd{
    padding: 0px 30px 15px 20px;
    margin: 5px 0px 0px 0px;
    width: 33%;
    border-right: 1px solid #cccccc;
}
.classtxtarea{
	width: 200px;
	height: 50px;
}
.classRegFormBtn{
    padding-left: 90px;
    margin-top: 10px;
}
.classRegLink{
    display: inline-block;
    padding-top: 12px;
}
.classAddBtn{
    margin-top: 10px;
}
.classButton{
	padding-left: 85px;
}
.classBut{
	border-radius: 3px;
	border: 1px solid #aaa;
	color: #fff;
	background-color: #f80;
	padding: 5px;
}
.classMenuLst li a{
	color: #FFFFFF;
	text-decoration: none;
}
.classMenuLst li a:hover{
	color: #999;
}
.classTodoPendingImg{
    text-align: center;
}
.classH4{
    color: #282828;
    margin-top: 30px;
}
.classProfile{
    width: 100%;
    /*border: 1px solid;*/
    float: left;
    margin-left: 0px;
    height: 64px;
}
.classAlert{
    width: 27%;
    float: left;
    margin-left: 300px;
    margin-top: 10px;
}
.classContentHead{
    float: left;
}
.classCompletedTable{
   width: 99%;
}
.classAreaLogin{
    padding: 0px 5px 4px 20px;
    margin: 0px 0px 1px;
    border-left: 1px solid rgb(235, 235, 235);
    float: left;
    width: 92%;
}
.classLoginHeader{
    border-bottom: 1px solid rgb(38, 154, 188);
}
.classAreaReg{
    padding: 0px 5px 50px 33px;
    margin: 0px 0px 1px;
    width: 85%;
}
.classLoginAlert{
    width: 30%;
    float: left;
    height: 40px;
    margin: 10px 140px;
}
.classTablePendingFormat{
    width: 95% !important;
}
.classPendingTableHead1{
    width: 1%;
}
.classPendingTableHead2{
    width: 6%;
}
.classPendingTableHead3{
    width: 8%;
}
.classPendingTableHead4{
    width: 3%;
}
.classPendingTableHead5{
    width: 3%;
}
.classModalForm{
    width: 70%;
    margin-left: 60px;
}
.classModalWidth{
    width: 73%;
}
